//- Created by Sergey on 11-Oct-15.

script(src="/static/angular/angular.min.js")
script(src="/static/angular/angular-route.min.js")
script(src="/static/src/app.js")
script(src="/static/src/auth/auth.controller.js")
script(src="/static/src/homepage/homepage.controller.js")
script(src="/static/src/addRoom/addRoom.controller.js")
script(src="/static/src/editRoom/editRoom.controller.js")
script(src="/static/src/managerRoomList/managerRoomList.controller.js")
script(src="/static/src/managerBookingList/managerBookingList.controller.js")
script(src="/static/src/singleRoomView/SingleRoomDirective.js")
script(src="static/src/booking/BookingAddController.js")