<section>
	<h3>Room number</h3>
	<ul>
		<li>
			<span>Name: </span><span> Room {{ roomInfo.roomID }}</span>
		</li>
		<li>
			<span>Area: </span><span>{{ roomInfo.area }}</span>
		</li>
		<li>
			<span>Type: </span><span> {{ roomInfo.standard }}</span>
		</li>
		<li>
			<span>Capacity: </span><span>{{ roomInfo.capacity }}</span>
		</li>
		<li>
			<span>Double Bed: </span><span>{{ roomInfo.doubleBed }}</span>
		</li>
		<li>
			<span>Price: </span><span>{{ roomInfo.price }}</span>
		</li>
	</ul>
	<button ng-click="bookRoom()">Book</button>
	<button ng-click="editRoom()">Edit</button>
	<button ng-click="deleteRoom()">Delete</button>
</section>
